src/data
src/spark-warehouse
src/.ipynb_checkpoints/
src/.ipython/
src/java/best-trip-recommender/target/*
src/java/best-trip-recommender/.project
src/java/best-trip-recommender/.classpath
src/java/best-trip-recommender/.gitignore
src/java/best-trip-recommender/.settings/
.idea/
analise/.Rproj.user
analise/.Rhistory
analise/dadostratados.csv
